.titleClass {
    margin-top: 18px;
    margin-bottom: 18px;
    font-size: 50px;
    font-weight: 600;
    color: rgb(6, 106, 43);
    background-clip: text;
    -webkit-background-clip: text;
}

.selectClass {
    text-align: left;
    min-width: 500px;
    width: fit-content;
    border-color: rgb(6, 106, 43);
}

:focus {
    outline: 2px solid rgb(6, 106, 43);
    outline-offset: -2px;
}

.formCont {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
}

.textbox {
    min-width: 500px;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 14px;
    vertical-align: baseline;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: .16px;
    border-radius: 0;
    outline: 2px solid transparent;
    outline-offset: -2px;
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 1px solid #8d8d8d;
    background-color: #f4f4f4;
    padding: 0 16px;
    color: #161616;
    transition: background-color 70ms cubic-bezier(.2, 0, .38, .9), outline 70ms cubic-bezier(.2, 0, .38, .9);
}

:focus {
    outline: 2px solid rgb(6, 106, 43);
    outline-offset: -2px;
}

.textarea {
    min-width: 500px;
    min-height: 200px;
    padding: 5px;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 14px;
    vertical-align: baseline;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: .16px;
    border-radius: 0;
    outline: 2px solid transparent;
    outline-offset: -2px;
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 1px solid #8d8d8d;
    background-color: #f4f4f4;
    color: #161616;
    transition: background-color 70ms cubic-bezier(.2, 0, .38, .9), outline 70ms cubic-bezier(.2, 0, .38, .9);
}

:focus {
    outline: 2px solid rgb(6, 106, 43);
    outline-offset: -2px;
}

.submit {
    align-self: baseline;
    margin-top: 15px;
    height: 20px;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 4px;
    background-color: rgb(6, 106, 43);
    color: white;
    margin-right: 10px;
    cursor: pointer;
}

.submit:hover {
    background-color: rgb(17, 174, 75);
}

.smallTitle {
    align-self: baseline;
    margin: 10px;
    font-size: 20px;
    font-weight: 600;
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
}