

.pagination a {
    border-radius: 5px;
  }
  
.pagination a.active {
border-radius: 5px;
}
.recipeScreen{
    padding-top: 10px;   
    padding-left: 80px; 
    padding-right: 80px; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    justify-content: left;
    height: 100%;
}
.recipeCard{
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    border-radius: 4px;
    border: 2px solid #d9d9d9;
    height: 200px;
    width: 200px;
}

.recipeImg{
    height: 200px;
    width: 200px;
    border-radius: 4px;
    text-align: left;
}

.nameDateContainer{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: center;
}
.recipeName{
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}
.recipeMeal{
    margin-top: 5px;
    text-align: left;
    font-size: 15px;
}

.favoriteButton{
    margin-left: auto;
    height: 20px;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    border-radius: 4px;
    background-color: rgb(6, 106, 43);
    color: white;
    margin-right: 10px;
}